In [ ]:
import numpy as np
import pandas as pd

In [ ]:
anime = pd.read_csv('animes.csv')

In [6]:
anime.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']",6-Jan-17,1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [7]:
anime.shape

(19311, 12)

In [8]:
anime.head(1)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...

In [12]:
# Cols that are needed for reccomendation system 
# Genre
# id
# synopsis 
# title 

anime = anime[['uid', 'title', 'synopsis', 'genre']]

In [9]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   title       19311 non-null  object
 2   synopsis    18336 non-null  object
 3   genre       19311 non-null  object
 4   aired       19311 non-null  object
 5   episodes    18605 non-null  float64
 6   members     19311 non-null  int64
 7   popularity  19311 non-null  int64
 8   ranked      16099 non-null  float64
 9   score       18732 non-null  float64
 10  img_url     19131 non-null  object
 11  link        19311 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.8+ MB

In [13]:
# This is the dataframe where we will build our reccomendation system

anime.head()

,uid,title,synopsis,genre
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun..."
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun..."
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F..."
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ..."
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']"

In [20]:
# Checking for missing data 
anime.isnull().sum()

uid         0
title       0
synopsis    0
genre       0
dtype: int64

In [19]:
anime.dropna(inplace=True) # dropping rows w/ missing vals

In [37]:
# Checking for duplicate data
anime.duplicated().sum()

0

In [38]:
anime = anime.drop_duplicates(keep='first') # keep first duplicate row

In [40]:
anime.iloc[0].genre # The way genre is formatted is ok, we don't have to change anything

"['Comedy', 'Sports', 'Drama', 'School', 'Shounen']"

In [42]:
anime['synopsis'][0]

"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead.  \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large training camp alongside many notable volleyball teams in Tokyo and even some national level players. By playing with some of the toughest teams in Japan, they hope not only to sharpen their skills, but also come up with new attacks that would strengthen them. Moreover, Hinata and Kageyama attempt to devise a more powerful weapon, one that could possibly break the sturdiest of blocks.  \r\n \r\nFacing what may be their last chance at victory before the senior players graduate, the members of Karasuno's volleyball team must learn to settle their differences and train harder than ever if they hope to overcome formidable opponents old and new—including their archrival Aoba Jousai and its world-class setter Tooru Oikawa. \r\n \r\n[Written by MAL Rewrite]"

In [44]:
anime['synopsis'] = anime['synopsis'].apply(lambda x: x.split()) # Turning each word into a list

In [54]:
anime.head()

,uid,title,synopsis,genre
0,28891,Haikyuu!! Second Season,"[Following, their, participation, at, the, Int...","[['Comedy',, 'Sports',, 'Drama',, 'School',, '..."
1,23273,Shigatsu wa Kimi no Uso,"[Music, accompanies, the, path, of, the, human...","[['Drama',, 'Music',, 'Romance',, 'School',, '..."
2,34599,Made in Abyss,"[The, Abyss—a, gaping, chasm, stretching, down...","[['Sci-Fi',, 'Adventure',, 'Mystery',, 'Drama'..."
3,5114,Fullmetal Alchemist: Brotherhood,"[""In, order, for, something, to, be, obtained,...","[['Action',, 'Military',, 'Adventure',, 'Comed..."
4,31758,Kizumonogatari III: Reiketsu-hen,"[After, helping, revive, the, legendary, vampi...","[['Action',, 'Mystery',, 'Supernatural',, 'Vam..."

In [57]:
anime['tags'] = anime['synopsis'] + anime['genre'] # adding a new tags col to df

In [63]:
anime.head()

,uid,title,synopsis,genre,tags
0,28891,Haikyuu!! Second Season,"[Following, their, participation, at, the, Int...","[['Comedy',, 'Sports',, 'Drama',, 'School',, '...","[Following, their, participation, at, the, Int..."
1,23273,Shigatsu wa Kimi no Uso,"[Music, accompanies, the, path, of, the, human...","[['Drama',, 'Music',, 'Romance',, 'School',, '...","[Music, accompanies, the, path, of, the, human..."
2,34599,Made in Abyss,"[The, Abyss—a, gaping, chasm, stretching, down...","[['Sci-Fi',, 'Adventure',, 'Mystery',, 'Drama'...","[The, Abyss—a, gaping, chasm, stretching, down..."
3,5114,Fullmetal Alchemist: Brotherhood,"[""In, order, for, something, to, be, obtained,...","[['Action',, 'Military',, 'Adventure',, 'Comed...","[""In, order, for, something, to, be, obtained,..."
4,31758,Kizumonogatari III: Reiketsu-hen,"[After, helping, revive, the, legendary, vampi...","[['Action',, 'Mystery',, 'Supernatural',, 'Vam...","[After, helping, revive, the, legendary, vampi..."

In [62]:
anime.iloc[0].tags

['Following',
 'their',
 'participation',
 'at',
 'the',
 'Inter-High,',
 'the',
 'Karasuno',
 'High',
 'School',
 'volleyball',
 'team',
 'attempts',
 'to',
 'refocus',
 'their',
 'efforts,',
 'aiming',
 'to',
 'conquer',
 'the',
 'Spring',
 'tournament',
 'instead.',
 'When',
 'they',
 'receive',
 'an',
 'invitation',
 'from',
 'long-standing',
 'rival',
 'Nekoma',
 'High,',
 'Karasuno',
 'agrees',
 'to',
 'take',
 'part',
 'in',
 'a',
 'large',
 'training',
 'camp',
 'alongside',
 'many',
 'notable',
 'volleyball',
 'teams',
 'in',
 'Tokyo',
 'and',
 'even',
 'some',
 'national',
 'level',
 'players.',
 'By',
 'playing',
 'with',
 'some',
 'of',
 'the',
 'toughest',
 'teams',
 'in',
 'Japan,',
 'they',
 'hope',
 'not',
 'only',
 'to',
 'sharpen',
 'their',
 'skills,',
 'but',
 'also',
 'come',
 'up',
 'with',
 'new',
 'attacks',
 'that',
 'would',
 'strengthen',
 'them.',
 'Moreover,',
 'Hinata',
 'and',
 'Kageyama',
 'attempt',
 'to',
 'devise',
 'a',
 'more',
 'powerful',
 'weapon,',
 'one',
 'that',
 'could',
 'possibly',
 'break',
 'the',
 'sturdiest',
 'of',
 'blocks.',
 'Facing',
 'what',
 'may',
 'be',
 'their',
 'last',
 'chance',
 'at',
 'victory',
 'before',
 'the',
 'senior',
 'players',
 'graduate,',
 'the',
 'members',
 'of',
 "Karasuno's",
 'volleyball',
 'team',
 'must',
 'learn',
 'to',
 'settle',
 'their',
 'differences',
 'and',
 'train',
 'harder',
 'than',
 'ever',
 'if',
 'they',
 'hope',
 'to',
 'overcome',
 'formidable',
 'opponents',
 'old',
 'and',
 'new—including',
 'their',
 'archrival',
 'Aoba',
 'Jousai',
 'and',
 'its',
 'world-class',
 'setter',
 'Tooru',
 'Oikawa.',
 '[Written',
 'by',
 'MAL',
 'Rewrite]',
 "['Comedy',",
 "'Sports',",
 "'Drama',",
 "'School',",
 "'Shounen']"]

In [64]:
new_df = anime[['uid', 'title', 'tags']] # made a new df for ease of use

In [65]:
new_df.head()

,uid,title,tags
0,28891,Haikyuu!! Second Season,"[Following, their, participation, at, the, Int..."
1,23273,Shigatsu wa Kimi no Uso,"[Music, accompanies, the, path, of, the, human..."
2,34599,Made in Abyss,"[The, Abyss—a, gaping, chasm, stretching, down..."
3,5114,Fullmetal Alchemist: Brotherhood,"[""In, order, for, something, to, be, obtained,..."
4,31758,Kizumonogatari III: Reiketsu-hen,"[After, helping, revive, the, legendary, vampi..."

In [67]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x)) # the tags were prev a list now converted into a string

/var/folders/1n/ysswfgs10kv731d984j0x6z80000gn/T/ipykernel_2006/3959910573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x)) # the tags were prev a list now converted into a string

In [68]:
new_df.head()

,uid,title,tags
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth..."
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...

In [69]:
new_df['tags'][0]

"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead. When they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large training camp alongside many notable volleyball teams in Tokyo and even some national level players. By playing with some of the toughest teams in Japan, they hope not only to sharpen their skills, but also come up with new attacks that would strengthen them. Moreover, Hinata and Kageyama attempt to devise a more powerful weapon, one that could possibly break the sturdiest of blocks. Facing what may be their last chance at victory before the senior players graduate, the members of Karasuno's volleyball team must learn to settle their differences and train harder than ever if they hope to overcome formidable opponents old and new—including their archrival Aoba Jousai and its world-class setter Tooru Oikawa. [Written by MAL Rewrite] ['Comedy', 'Sports', 'Drama', 'School', 'Shounen']"

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower()) # Converting tags to lower case